<p-toolbar styleClass="p-0">
  <div class="p-toolbar-group-left w-full surface-200">
    <div
      class="mini-sidebar p-1 flex flex-row cursor-pointer w-full text-900"
      routerLink="/"
    >
      <img src="assets/goofy.png" class="mr-4" />
      <div class="text-2xl font-bold text-center logo text-900">
        Project Management Mystem
      </div>
      <div class="text-2xl font-bold text-center logo ml-4 mr-4 text-900">
        User: {{ firstName }} {{ lastName }}
      </div>
      <div class="text-2xl font-bold text-center logo"></div>
    </div>
    <p-button icon="pi pi-sign-out" (click)="navigateToLogin()"></p-button>
  </div>

  <div class="p-toolbar-group-right"></div>
</p-toolbar>
