<p-toolbar styleClass="p-0">
  <div
    class="p-toolbar-group-left w-full"
    style="background-color: rgb(154, 197, 183)"
  >
    <div
      class="mini-sidebar p-1 flex flex-row cursor-pointer w-full"
      routerLink="/"
    >
      <img src="assets/goofy.png" />
      <div *ngIf="true" class="text-2xl font-bold text-center logo">
        Project management system
      </div>
    </div>
    <p-button
      label="Sign out"
      icon="pi pi-sign-out"
      style="width: fit-content; height: max-content"
    ></p-button>
  </div>

  <div class="p-toolbar-group-right"></div>
</p-toolbar>
