<p-toast
  position="top-right"
  [showTransformOptions]="'translateX(100%)'"
  [hideTransitionOptions]="'3000ms'"
></p-toast>

<div class="gap-3 m-5 grid">
  <div class="text-5xl font-bold col-12">Student Submission</div>

  <p-tabView class="min-w-full max-w-screen justify-content-center">
    <p-tabPanel
      header="Submissions of Part 1"
      class="min-w-max max-w-screen justify-content-center bg-green-200"
    >
      <div class="grid">
        <div
          class="col-8 grid card m-2 mt-6 p-8 bg-green-200 justify-content-center"
          style="width: 50%"
        >
          <div class="text-3xl font-bold col-12">Submissions of Part 1</div>
          <div class="text-2xl col-12 underline">Github Link</div>
          <div class="p-float-label my-4 col-12 grid">
            <i class="pi pi-github col-1"></i>
            <input
              class="col-7"
              type="text"
              pInputText
              [(ngModel)]="gitHubForPart1"
              id="float-input"
            />
            <label for="float-input"></label>
          </div>
          <div class="text-2xl col-12 underline">Upload files</div>
          <div class="p-float-label my-4 col-12 grid">
            <p-fileUpload
              class="col-7"
              name="demo[]"
              url="./upload.php"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              accept="pdf/*,image/*,application/pdf"
              [maxFileSize]="3000000"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
            <label for="float-input"></label>
          </div>
          <div class="col-3"></div>
        </div>
        <p-divider class="col-1" layout="vertical"></p-divider>
        <div class="col-3 border-solid">
          <div class="text-3xl col-12 underline">Submission instructions:</div>
          <div class="text-2xl col-12">
            1. Make sure the github link contains all the code
          </div>
          <div class="text-2xl col-12">
            2. Upload book.pdf and presentation.ppt files
          </div>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      header="Submissions of Part 2"
      class="justify-content-center bg-green-200 w-max"
    >
      <div class="grid">
        <div
          class="col-8 grid card m-2 mt-6 p-8 bg-green-200 justify-content-center"
          style="width: 50%"
        >
          <div class="text-3xl col-12">Submissions of Part 2</div>
          <div class="text-2xl col-12 underline">Github Link</div>
          <div class="p-float-label my-4 col-12 grid">
            <i class="pi pi-github col-1"></i>
            <input
              class="col-7"
              type="text"
              pInputText
              [(ngModel)]="gitHubForPart1"
              id="float-input"
            />
            <label for="float-input"></label>
          </div>
          <div class="text-2xl col-12 underline">Upload files</div>
          <div class="p-float-label my-4 col-12 grid">
            <p-fileUpload
              class="col-7"
              name="demo[]"
              url="./upload.php"
              (onUpload)="onUpload($event)"
              [multiple]="true"
              accept="pdf/*,image/*,application/pdf"
              [maxFileSize]="3000000"
            >
              <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                  <li *ngFor="let file of uploadedFiles">
                    {{ file.name }} - {{ file.size }} bytes
                  </li>
                </ul>
              </ng-template>
            </p-fileUpload>
            <label for="float-input"></label>
          </div>
          <div class="col-3"></div>
        </div>
        <p-divider class="col-1" layout="vertical"></p-divider>
        <div class="col-3 border-solid">
          <div class="text-3xl col-12 underline">Submission instructions:</div>
          <div class="text-2xl col-12">
            1. Make sure the github link contains all the code
          </div>
          <div class="text-2xl col-12">
            1. Upload book.pdf and presentation.ppt files
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <button class="block" (click)="showToast()">Add Submission</button>
</div>
