<div class="min-w-screen">
  <div class="mb-5">
    <div class="text-5xl font-bold">Proposals After Aprove</div>
  </div>
  <app-proposal-list
    [proposals]="proposalsAfterAprove$ | async"
    (goToProposalDetails)="goToProposalDetails($event)"
  ></app-proposal-list>

  <div class="m-5">
    <div class="text-5xl font-bold">Proposals Before Lecturer Reference</div>
  </div>
  <app-proposal-list
    [proposals]="proposals$ | async"
    (goToProposalDetails)="goToProposalDetails($event)"
  ></app-proposal-list>
</div>
