<div class="grid">
  <app-session-details
    [session]="classSessions!.session1"
    class="col-5 m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session2"
    class="col-5 m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session3"
    class="col-5 m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session4"
    class="col-5 m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session5"
    class="col-5 m-3 border-solid"
  ></app-session-details>
</div>
