<div class="flex flex-column">
  <app-session-details
    [session]="classSessions!.session1"
    [number]="1"
    class="m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session2"
    [number]="2"
    class="m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session3"
    [number]="3"
    class="m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session4"
    [number]="4"
    class="m-3 border-solid"
  ></app-session-details>
  <app-session-details
    [session]="classSessions!.session5"
    [number]="5"
    class="m-3 border-solid"
  ></app-session-details>
</div>
