<div class="h-full m-2">
  <div class="flex justify-content-between header-margin">
    <div class="text-5xl">Products Page</div>

    <p-card>
      <div class="text-3xl">You still dont created a project</div>
      <!-- <p-button (onClick)="openProposalDialog()">Create Proposal</p-button> -->
    </p-card>
    <button
      pButton
      type="button"
      label="Create Proposal"
      class="p-button-raised p-button-outlined"
      (onClick)="openProposalDialog()"
    ></button>
  </div>
</div>
