<p-toast
  position="top-right"
  [showTransformOptions]="'translateX(100%)'"
  [hideTransitionOptions]="'3000ms'"
></p-toast>
<div class="h-full m-2">
  <!-- <div class="flex justify-content-between header-margin"></div> -->
  <div class="text-5xl">Products Page</div>

  <p-card>
    <div class="text-3xl">You still dont created a project</div>
    <!-- <p-button (onClick)="openProposalDialog()">Create Proposal</p-button> -->
    <p-button
      label="Create Proposal"
      class="p-button-raised p-button-outlined"
      (onClick)="openProposalDialog()"
    ></p-button>
  </p-card>
</div>
