<div
  class="flex align-items-stretch flex-wrap card-container blue-container"
  style="min-height: 100px"
>
  <div class="p-field p-md-4 max-w-full">
    <p-calendar
      placeholder="Select the Dates"
      [(ngModel)]="dates"
      selectionMode="multiple"
      [maxDateCount]="2"
      [readonlyInput]="true"
      inputId="multiple"
      [showIcon]="true"
      utc="false"
    >
    </p-calendar>
  </div>
  <div class="p-field p-md-4">
    <p-button label="save" (onClick)="save()"></p-button>
  </div>

  <div class="p-field p-md-4">
    <p-button label="Send Mail" (onClick)="sendToLecturer()"></p-button>
  </div>

  <div
    *ngIf="state.scheduleDates"
    class="mb-2 underline flex flex-row mr-6 text-red-500 text-justify"
  >
    selected dates :
    <div class="max-h-1rem mb-2 ml-4 mr-4 no-underline">
      {{ state.scheduleDates.date1.slice(0, 10) }}
    </div>
    <div class="max-h-1rem no-underline">
      {{ state.scheduleDates.date1.slice(0, 10) }}
    </div>
  </div>
</div>
