<!-- *ngIf="premissions$ | async as premissions" -->
<div class="w-full h-full" *ngIf="premissions">
  <p-card class="w-full h-full">
    <p-table
      class="w-full h-full"
      [value]="premissions"
      styleClass="p-datatable-gridlines p-datatable-striped  overflow-auto"
      selectionMode="single"
      scrollHeight="flex"
      [scrollable]="false"
      *ngIf="premissions"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Lecturer Name</th>
          <th>Lecturer Id</th>
          <th>Operations</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-premission class="max-h-2rem">
        <tr>
          <td>{{ premission.lecturerName }}</td>
          <td>
            {{ premission.lecturerId }}
          </td>
          <td>
            <div
              class="flex align-items-stretch flex-wrap card-container blue-container"
            >
              <div class="p-field p-md-4">
                <p-button
                  label="Aprove"
                  (onClick)="aproveLecturerPremission(premission.lecturerId)"
                ></p-button>
              </div>

              <div class="p-field p-md-4">
                <p-button
                  label="Denay"
                  (onClick)="deleteLecturerPremission(premission.lecturerId)"
                ></p-button>
              </div>

              <div class="p-field p-md-4">
                <p-button label="Send Mail"></p-button>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
  <p-card *ngIf="premissions.length == 0">
    <div class="flex flex-row justify-content-between mb-5">
      <div class="text-5xl">No Waiting Premissions</div>
    </div>
  </p-card>
</div>
