<!-- <div class="flex flex-row justify-content-between mb-5">
  <div class="text-2xl">Project Details</div>
</div>

<div class="h-autogrid grid-nogutter">
  <div class="col-12 grid m-0 w-full" *ngIf="project !== null">
    <div class="col-12 grid">
      <div class="col-3">Name</div>
      <div class="col-2">
        <input type="text" pInputText [value]="project.name" />
      </div>
      <div class="col-7">
        <p-button icon="pi pi-pencil" type="button"></p-button>
      </div>
    </div>

    <div class="col-4">Student 1 Id :</div>
    <div class="col-8">
      <div class="field-width field">
        {{ project.StudentId1 }}
      </div>
    </div>

    <div class="col-4">Student 2 Id :</div>
    <div class="col-8">
      <div class="field-width field">
        {{ project.StudentId2 }}
      </div>
    </div>

    <div class="col-4">lecturer Id :</div>
    <div class="col-8">
      <div class="field-width field">
        {{ project.lecturerId }}
      </div>
    </div>

    <div class="col-4">Project Type :</div>
    <div class="col-8">
      <div class="field-width field">
        {{ project.type }}
      </div>
    </div>

    
  </div>
  
</div> -->
