<div class="flex flex-row justify-content-between mb-5">
  <div class="text-5xl font-bold">Project Details</div>
</div>

<div class="h-autogrid grid-nogutter">
  <div class="col-12 grid m-0 w-full" *ngIf="project !== null">
    <div class="col-12 grid">
      <div class="col-2 font-bold">Name</div>
      <div class="col-2">
        <input
          [disabled]="userType != 1"
          type="text"
          pInputText
          [value]="project.projectName"
          [(ngModel)]="newName"
        />
      </div>
      <div class="col-8">
        <p-button
          *ngIf="userType == 1"
          icon="pi pi-pencil"
          type="button"
          (onClick)="editProjectNameClick()"
        ></p-button>
      </div>
    </div>

    <div class="col-2 font-bold">Student 1 Id :</div>
    <div class="col-2">
      <div class="field">
        {{ project.student1.id }}
      </div>
    </div>

    <div class="col-2 font-bold">Student Name :</div>
    <div class="col-6">
      <div class="field">
        {{ project.student1.firstName }} {{ project.student1.lastName }}
      </div>
    </div>

    <div class="col-2 font-bold">Student 2 Id :</div>
    <div class="col-2">
      <div class="field">
        {{ project.student2.id }}
      </div>
    </div>

    <div class="col-2 font-bold">Student Name :</div>
    <div class="col-6">
      <div class="field">
        {{ project.student2.firstName }} {{ project.student2.lastName }}
      </div>
    </div>

    <div class="col-2 font-bold">lecturer name :</div>
    <div class="col-10">
      <div class="field">
        {{ project.lecturer.firstName }} {{ project.lecturer.lastName }}
      </div>
    </div>

    <div class="col-2 font-bold">Project Type :</div>
    <div class="field col-10" *ngIf="project.projectType == 0">Research</div>
    <div class="field col-10" *ngIf="project.projectType == 1">Development</div>

    <div class="col-2 font-bold">Project code :</div>
    <div class="field col-10">{{ project.projCode }}</div>
  </div>
</div>
