<div
  class="flex flex-column h-full justify-content-between surface-200"
  [ngClass]="{
    'icons-only': !expendSideBar,
    'w-11rem': expendSideBar,
    'w-auto': !expendSideBar
  }"
>
  <p-menu
    [model]="items"
    class="flex-grow-1"
    styleClass="p-0 border-none w-full surface-200"
  ></p-menu>
  <div class="w-full text-center mb-2 toggle-sidebar-button">
    <button
      pButton
      type="button"
      [icon]="
        expendSideBar ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'
      "
      class="p-button-rounded p-button-text"
      (click)="toggleSidebar()"
    ></button>
  </div>
</div>
