<div class="h-full overflow-hidden flex flex-column">
  <header class="surface-card shadow-2 z-5 flex-shrink-0">
    <app-toolbar></app-toolbar>
  </header>

  <main class="flex-grow-1 flex flex-row h-full">
    <p-toast position="top-right"></p-toast>
    <app-admin-sidebar *ngIf="userType == 0"></app-admin-sidebar>
    <app-student-sidebar *ngIf="userType == 1"></app-student-sidebar>
    <app-lecturer-sidebar *ngIf="userType == 2"></app-lecturer-sidebar>

    <div class="flex-grow-1 surface-ground">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
<div *ngIf="ob$ | async as ob">
  <!-- <p-table
    [value]="ob"
    styleClass="p-datatable-gridlines p-datatable-striped h-30rem overflow-auto"
    selectionMode="single"
    *ngIf="ob"
    width="100%"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>date</th>
        <th>temperatureC</th>
        <th>temperatureF</th>
        <th>summary</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-w>
      <tr>
        <td>{{ w.date }}</td>
        <td>{{ w.temperatureC }}</td>
        <td>{{ w.temperatureF }}</td>
        <td>{{ w.summary }}</td>
      </tr>
    </ng-template>
  </p-table> -->
  <div *ngFor="let david of ob">
    <h1>{{ david.firstName }}</h1>
  </div>
</div>
