<div class="h-full overflow-hidden flex flex-column">
  <header class="surface-card shadow-2 z-5 flex-shrink-0">
    <app-toolbar></app-toolbar>
  </header>

  <main class="flex-grow-1 flex flex-row h-full">
    <p-toast position="top-right"></p-toast>
    <app-admin-sidebar *ngIf="userType == 0"></app-admin-sidebar>
    <app-student-sidebar *ngIf="userType == 1"></app-student-sidebar>
    <app-lecturer-sidebar *ngIf="userType == 2"></app-lecturer-sidebar>

    <div class="flex-grow-1 surface-ground">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
